**/raw_data/
*.bin

# 基础服务：数据目录与本地密码文件
/deploy/volumes/
/deploy/.env

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
log
vocab.pkl.gz

# web
# dependencies
node_modules/

# build output
dist/
build/
out/
.next/
.nuxt/
.storybook-out/

.venv